<header class="header js-header ghost -wrap -fzero">
    <div class="ghost__child -full">
        <div class="-column -column--2of4">
            <div class="icon-wrap js-controller--navi">
                <span class="icon icon--list"></span>
            </div>
        </div>
        <div class="-column -column--2of4 -text--right">
            <div class="icon-wrap js-controller--search">
                <span class="icon icon--search"></span>
            </div>
        </div>
    </div>
</header>
