<div class="items -wrap -exp">
    <% if ( locals.document ) { %>
        <h1 class="h1"><%= locals.document.getText( 'item.title' ) %></h1>
        <p class="p -wrap-copy">
            <br />
            <br />
            <%- locals.document.getText( "item.description" ) %>
        </p>
    <% } else { %>
        <h1 class="h1 -wrap-b">Items</h1>
        <% locals.documents.forEach(function ( doc ) { %>
            <a class="p -block" href="/items/<%= doc.uid %>/"><%= doc.getText( 'item.title' ) %></a>
        <% }) %>
    <% } %>
</div>
