/******************************************************************************
 * Font Declarations
 *
 * Use `$font-path` which is determined in `webpack.config.js`
*******************************************************************************/

// Calamity Sans... Works with Clutch
// https://github.com/kitajchuk/clutch
@font-face {
    font-family: $font-family-regular;
    src: url( "#{$font-path}#{$font-family-regular}.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-family-bold;
    src: url( "#{$font-path}#{$font-family-bold}.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
