/******************************************************************************
 * Icons
*******************************************************************************/
.icon-wrap {
    cursor: pointer;
    display: inline-block;
    margin: -20px;
    padding: 20px;
    }
.icon {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    position: relative;
    text-align: center;
    vertical-align: middle;
    }
.icon--list {
    border-top: 2px solid $white;
    height: 18px;
    width: 24px;

    &:after,
    &:before {
        background-color: $white;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
        }
    &:after {
        bottom: 0;
        }
    &:before {
        margin-top: -2px;
        top: 50%;
        }
    }
.icon--search {
    border: 2px solid $white;
    border-radius: 100%;
    height: 18px;
    margin-top: -3px;
    transition: border-color $base-duration $ease;
    width: 18px;

    &:after {
        background-color: $white;
        bottom: -3px;
        content: "";
        height: 2px;
        position: absolute;
        right: -5px;
        transform: rotate( 45deg );
        transition: background-color $base-duration $ease;
        width: 8px;
        }
    }
