.c-scrollbar {
    width: 8px;
    z-index: $z_layer_intro;

    @include respond( $mobile-breakpoint ) {
        width: 2px;
    }
}
.c-scrollbar__handle {
    background-color: $white;
    opacity: 0;
    border-radius: 8px;
    transition: opacity $base-duration $ease;

    @include respond( $mobile-breakpoint ) {
        border-radius: 2px;
    }

    .is-dragging &,
    .is-scrolling & {
        opacity: 0.5;
    }
}
.c-scrollbar,
.c-scrollbar__handle {
    right: 1px !important;
}
