/******************************************************************************
 * Fonts
*******************************************************************************/
$font-family-regular: "Calamity-Regular";
$font-family-bold: "Calamity-Bold";



/******************************************************************************
 * Colors
*******************************************************************************/
$spot: #6441a4;
$black: #000;
$white: #fff;
$grey: #3B3B3B;
$grey2: #808080;
$grey3: #B3B3B3;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$expander-1: 8vw;
$expander-2: 16vw;
$expander-3: 32vw;
$padding-1: 8vw;
$padding-2: 16vw;



/******************************************************************************
 * Sizes
*******************************************************************************/
$wrap-copy: 700px;
$logo-width: 256px;
$header-height: 256px;
$bind-width: 1680px;
$mobile-width: 480px;




/******************************************************************************
 * Typography
*******************************************************************************/
$p-bump: 20px;
$p-size: 20px;
$p-size-meta: 16px;
$p-size-bold: 22px;
$p-line: 1.6;
$p-max-width: 570px;
$h1-size: 192px;
$h1-size-mobile: 64px;
$h1-size-fluid: calc( #{$h1-size-mobile} + 7.5vw );
$h1-line: 1;
$h2-size: 128px;
$h2-size-mobile: 32px;
$h2-size-fluid: calc( #{$h2-size-mobile} + 5vw );
$h2-line: 1;
$h3-size: 96px;
$h3-size-mobile: 24px;
$h3-size-fluid: calc( #{$h3-size-mobile} + 3.75vw );
$h3-line: 1;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-large: 2200px;
$break-desktop: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
$long-duration: 600ms;
$base-duration: 400ms;
$fast-duration: 200ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_behind: -1;
$z_layer_menu: 1000;
$z_layer_screen: 1001;
$z_layer_header: 1002;
$z_layer_intro: 1003;
