<%
const navi = locals.context.navi;
const config = locals.context.config;
%>
<header class="header js-header -wrap">
    <div class="header__primo">
        <div class="header__logo">
            <a href="/">
                <%- include( '../svg/logo.svg' ) %>
            </a>
        </div>
        <div class="header__navi">
            <nav class="navi js-navi">
                <ul class="navi__ul">
                    <% navi.items.forEach(( item ) => { %>
                        <% if ( item.uid !== config.homepage ) { %>
                            <li class="navi__li navi__li--<%= item.uid %>">
                                <a class="navi__a navi__a--<%= item.uid %> js-navi-a js-navi--<%= item.uid %> m" href="<%= item.slug %>"><%= item.text %></a>
                            </li>
                        <% } %>
                    <% }) %>
                    <li class="navi__li navi__li--mobile">
                        <div class="cssicon cssicon--list js-navi-trigger">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<nav class="navi-mobile js-navi-mobile">
    <ul class="navi-mobile__ul">
        <% navi.items.forEach(( item ) => { %>
            <% if ( item.uid !== config.homepage ) { %>
                <li class="navi-mobile__li navi-mobile__li--<%= item.uid %>">
                    <a class="navi-mobile__a navi-mobile__a--<%= item.uid %> js-navi-a js-navi--<%= item.uid %> m" href="<%= item.slug %>"><%= item.text %></a>
                </li>
            <% } %>
        <% }) %>
    </ul>
</nav>
