/******************************************************************************
 * Responsive
*******************************************************************************/
@media only screen and ( min-width: $wrap-copy + ($expander-dub * 2) ) {
    .-wrap-copy {
        max-width: $wrap-copy;
        padding-left: 0;
        padding-right: 0;
        }
}



@media only screen and ( max-width: $break-mobile-full ) {}
